* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

tbody {
    display: flex;
    flex-direction: column;
}

.freewayMatrix {
    display: flex;
    height: 360px;
    width: 600px;
    /* background-color: gray; */
}

.freewayMatrix td {
    height: 30px;
    width: 30px;
    background-color: gray;
}

#player {
    background-color: black;
}

#carOne, #carTen {
    background-color: blue;
}

#carTwo, #carNine {
    background-color: green;
}

#carThree, #carEight {
    background-color: yellow;
}

#carFour, #carSeven {
    background-color: white;
}

#carFive, #carSix {
    background-color: red;
}