* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

tbody {
    display: flex;
    flex-direction: column;
}

.freewayMatrix {
    display: flex;
    height: 360px;
    width: 600px;
    /* background-color: gray; */
}

.freewayMatrix td {
    height: 30px;
    width: 30px;
    background-color: lightgray;
}

#player1 {
    background-image: url(./img/mininu4.png);
    background-size: cover;
    background-position: center;
}

#player2 {
    background-image: url(./img/mininu3.png);
    background-size: cover;
    background-position: center;
}

#player3 {
    background-image: url(./img/mininu2.png);
    background-size: cover;
    background-position: center;
}

#player4 {
    background-image: url(./img/mininu1.png);
    background-size: cover;
    background-position: center;
}

#carOne {
    background-image: url(./img/chinelo\ azul\ esquerda.png);
    background-size: cover;
    background-position: center;
}

#carTwo {
    background-image: url(./img/chinelo\ verde\ esquerda.png);
    background-size: cover;
    background-position: center;
}

#carThree {
    background-image: url(./img/chinelo\ branco\ esquerda.png);
    background-size: cover;
    background-position: center;
}

#carFour {
    background-image: url(./img/chinelo\ amarelo\ esquerda.png);
    background-size: cover;
    background-position: center;
}

#carFive {
    background-image: url(./img/chinelo\ vermelho\ esquerda.png);
    background-size: cover;
    background-position: center;
}

#carSix {
    background-image: url(./img/chinelo\ vermelho\ direita.png);
    background-size: cover;
    background-position: center;
}

#carSeven {
    background-image: url(./img/chinelo\ amarelo\ direita.png);
    background-size: cover;
    background-position: center;
}

#carEight {
    background-image: url(./img/chinelo\ branco\ direita.png);
    background-size: cover;
    background-position: center;
}

#carNine {
    background-image: url(./img/chinelo\ verde\ direita.png);
    background-size: cover;
    background-position: center;
}

#carTen {
    background-image: url(./img/chinelo\ azul\ direita.png);
    background-size: cover;
    background-position: center;
}